{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">

<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum magna sapien, vitae auctor mi interdum sit amet. Suspendisse urna erat, feugiat non eleifend eu, efficitur vel orci. Nulla pretium faucibus elit, ut ullamcorper nisi tempus et. Quisque sed dui turpis. Nullam sit amet ornare lacus, non ullamcorper libero. Morbi et varius ex. Etiam tristique purus nec quam congue, sed varius velit consequat. Phasellus eu tellus ac nibh ornare venenatis a eu arcu. Nam ornare risus diam, id ultricies dui maximus sed. Proin rhoncus libero ut viverra tempor.</p>

</div>
    
{%  endblock %}